/* --- GLOBAL RESET --- */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* html {
    height: 100%;
    overflow: hidden;
} */

/* --- GLOBAL STYLES --- */
:root {
    --blue: #113E89;
    --green: #6CCA76;  
    --yellow: #F1D95C;
    --purple: #6A00BA;
    --bg_grid: #B3B3B3;
    --red_guide: #FA6B6A;
}

body {
    font-family: 'Fredoka', sans-serif;
    margin: 0;
    padding: 0;

    /* --- for stacked coded background lines --- */
    background-color: #ffffff;
    background-image: 
        linear-gradient(90deg, transparent 49px, var(--red_guide) 1px, transparent 50px),
        linear-gradient(90deg, transparent calc(100% - 51px), var(--red_guide) 1px, transparent calc(100% - 50px)),

        linear-gradient(var(--bg_grid) 1px, transparent 1px),
        linear-gradient(90deg, var(--bg_grid) 1px, transparent 1px);

    background-size: 
        100% 100%, 100% 100%, 
        30px 30px, 30px 30px;

    background-attachment: fixed;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    margin: 0 auto;
    max-width: 100%;
    padding: 10px 80px;
    background: #ffffff;
  
    border-bottom: 1px solid var(--blue);
}

.navbar_logo img {
    width: 107px;
    height: 73px;

    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: contain;
    padding: 10px;
    gap: 592px;
}

.navlinks {
    display: flex;
    align-items: center;
    gap: 65px;
}

.navlinks a {
    text-decoration: none;
    padding: 10px 25px;
    border-radius: 50px;
    font-weight: 600;
    margin-left: 15px;
    color: #ffffff;
    font-size: 1rem;
    transition: transform 0.2s;
    white-space: nowrap;
}

.navlinks a:nth-child(1) { background-color: var(--green); }
.navlinks a:nth-child(2) { background-color: var(--blue); }
.navlinks a:nth-child(3) { background-color: var(--blue); }

.navlinks a:hover {
    transform: scale(1.05);
}

