/* --- Global Styles --- */
:root {
    --blue: #113E89;
    --green: #6CCA76;  
    --yellow: #F1D95C;
    --purple: #6A00BA;
    --bg_grid: #B3B3B3;
}

body {
    font-family: 'Fredoka', sans-serif;
    margin: 0;
    padding: 0;

    background-color: #ffffff;
    background-image: 
        linear-gradient(var(--light-grid) 1px, transparent 1px),
        linear-gradient(90deg, var(--light-grid) 1px, transparent 1px);
    background-size: 30px 30px;
}



